{% extends "core/base.html" %}

{% block title %}Reativar Coleção{% endblock %}

{% block content %}

{% include "components/layout/page_header.html" with titulo="Reativar Coleção" subtitulo="Confirme a reativação da coleção." %}

<div class="form-card">
    <p>
        Deseja realmente reativar a coleção
        <strong>{{ colecao.nome }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="form-actions">
            <a href="{% url 'catalogo:lista_colecoes' %}" class="btn btn-secondary">
                Cancelar
            </a>

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-check-circle"></i>
                Reativar
            </button>
        </div>
    </form>
</div>

{% endblock %}