{% extends "core/base.html" %}

{% block title %}Inativar Coleção{% endblock %}

{% block content %}

{% include "components/layout/page_header.html" with titulo="Inativar Coleção" subtitulo="Confirme a inativação da coleção." %}

<div class="form-card">
    <p>
        Deseja realmente inativar a coleção
        <strong>{{ colecao.nome }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="form-actions">
            <a href="{% url 'catalogo:lista_colecoes' %}" class="btn btn-secondary">
                Cancelar
            </a>

            <button type="submit" class="btn btn-danger">
                <i class="bi bi-slash-circle"></i>
                Inativar
            </button>
        </div>
    </form>
</div>

{% endblock %}