{% extends 'core/base.html' %}

{% block title %}Inativar Marca | ERP Helvi{% endblock %}

{% block content %}

<h1 class="page-title">Inativar Marca</h1>
<p class="page-subtitle">Confirme a inativação da marca.</p>

<div class="card">
    <p>
        Deseja realmente inativar a marca
        <strong>{{ marca.nome }}</strong>?
    </p>

    <form method="post" style="margin-top:20px;">
        {% csrf_token %}

        <a href="{% url 'catalogo:lista_marcas' %}" class="btn-gold">
            Cancelar
        </a>

        <button type="submit" class="btn-gold">
            Inativar
        </button>
    </form>
</div>

{% endblock %}