{% extends "core/base.html" %}
{% load static %}

{% block title %}Nova Compra | ERP Helvi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
<div class="hui-module-page hui-module-page--compras hui-operation-form">
{% url "compras:lista" as voltar_url %}
{% include "components/layout/page_header.html" with titulo="Nova compra" subtitulo="Cadastre fornecedor, produtos e valores da operação." botao_url=voltar_url botao_texto="Voltar às compras" botao_icon="bi bi-arrow-left" %}

<form id="form-compra" method="post" action="{% url 'compras:nova' %}" novalidate>
    {% csrf_token %}

    <div class="row g-4">
        <div class="col-lg-8">
            {% include "compras/components/dados_compra.html" %}
            {% include "compras/components/tabela_itens.html" %}
        </div>

        <div class="col-lg-4">
            {% include "compras/components/resumo_compra.html" %}
        </div>
    </div>

    <div class="card mt-4">
    <div class="card-body hui-form-actions">
        <a href="{% url 'compras:lista' %}" class="btn btn-outline-secondary">
            Cancelar
        </a>

        <button
            type="submit"
            class="btn btn-primary"
        >
            Salvar Compra
        </button>
    </div>
</div>
</form>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/compras/form_compra.js' %}?v=2"></script>
<script src="{% static 'js/compras/tabela_itens.js' %}?v=17"></script>
{% endblock %}
