{% extends "core/base.html" %}

{% block title %}Conferir Inventário | ERP Helvi{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="mb-1">
            Inventário {{ inventario.codigo }}
        </h2>
        <div class="row mb-4">

            <div class="col-md-3">
                <div class="card shadow-sm border-0">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Produtos</h6>
                        <h3>{{ resumo.total }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm border-0">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Conferidos</h6>
                        <h3 class="text-success">{{ resumo.conferidos }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm border-0">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Pendentes</h6>
                        <h3 class="text-warning">{{ resumo.pendentes }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm border-0">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Divergências</h6>
                        <h3 class="text-danger">{{ resumo.divergencias }}</h3>
                    </div>
                </div>
            </div>

    </div>
        <p class="text-muted mb-0">
            Responsável:
            <strong>{{ inventario.usuario.get_full_name|default:inventario.usuario.username }}</strong>
        </p>
    </div>

    <div class="text-end">

        {% if inventario.status == "finalizado" %}
            <span class="badge bg-success fs-6">
                Finalizado
            </span>
        {% else %}
            <span class="badge bg-warning text-dark fs-6">
                Em andamento
            </span>
        {% endif %}

        <div class="small text-muted mt-2">
            Criado em {{ inventario.data_criacao|date:"d/m/Y H:i" }}
        </div>

    </div>

</div>

    <form method="post">
        {% csrf_token %}

        <div class="card shadow-sm border-0">
            <div class="card-body">
                <p>Total de itens: {{ inventario.itens.count }}</p>

                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Estoque Sistema</th>
                            <th>Quantidade Física</th>
                            <th>Diferença</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in inventario.itens.all %}
                        <tr>
                            <td>{{ item.produto }}</td>
                            <td>{{ item.estoque_sistema }}</td>
                            <td>
                                <input
                                    type="number"
                                    name="quantidade_fisica_{{ item.id }}"
                                    class="form-control"
                                    min="0"
                                    value="{{ item.quantidade_fisica|default:'' }}"
                                    {% if inventario.status == "finalizado" %}disabled{% endif %}
                                >
                            </td>
                            <td>{{ item.diferenca }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-muted">
                                Nenhum item encontrado neste inventário.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="d-flex gap-2 mt-3">

                    {% if inventario.status != "finalizado" %}

                    <button
                       type="submit"
                        class="btn btn-primary">
                        <i class="bi bi-floppy"></i>
                        Salvar Conferência
                    </button>

                    
                    <button
                        type="submit"
                        formaction="{% url 'estoque:finalizar_inventario' inventario.pk %}"
                        formmethod="post"
                        class="btn btn-success"
                        onclick="return confirm('Deseja realmente finalizar este inventário?');">

                        <i class="bi bi-check-circle"></i>
                        Finalizar Inventário
                    </button>
                    {% endif %}

                    <a
                        href="{% url 'estoque:lista_movimentacoes' %}"
                        class="btn btn-outline-secondary">
                        Cancelar
                    </a>

                
                    <a href="{% url 'estoque:novo_inventario' %}" class="btn btn-outline-secondary">
                        Novo inventário
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}